<html>
  <head>
  <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" href="/p/css/admin.css">
    <%- customCSS %>
  </head>
  <body>
    <div class="main-content container">
      <%- include ("../partials/admin/navbar.ejs") %> <%- body %>
    </div>
    <%- include ("../partials/admin/footer.ejs") %>
  </body>
  <%- scripts %>
</html>
