<html>
  <%- include ("../partials/header.ejs") %>
  <body>
    <div class="main-content container">
      <%- include ("../partials/navbar.ejs") %> <%- body %>
    </div>
    <%- include ("../partials/footer.ejs") %>
  </body>
  <%- scripts %>
</html>
