<html>
  <%- include ("../partials/panel/header.ejs") %>
  <body>
    <div class="main-content container">
      <%- include ("../partials/panel/navbar.ejs") %> <%- body %>
    </div>
    <%- include ("../partials/panel/footer.ejs") %>
  </body>
  <%- scripts %>
</html>
