<html>
    <head>
  <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" href="/p/css/public.css">
    <%- customCSS %>
  </head>
  <body>
    <div class="my-main-content">
      <%- include ("../partials/public/navbar.ejs") %> <%- body %>
    </div>
    <%- include ("../partials/public/footer.ejs") %>
  </body>
  <%- scripts %>
</html>
