<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" href="/p/css/user.css" />
    <%- customCSS %>
  </head>
  <body>
    <div class="main-content">
      <%- include ("../partials/user/navbar.ejs") %> <%- body %>
    </div>
    <%- include ("../partials/user/footer.ejs") %>
  </body>
  <%- scripts %>
</html>
