<html>
  <head>
    <%- include ("../partials/header.ejs") %>
    <link rel="stylesheet" href="/p/css/user.css" />
    <%- customCSS %>
  </head>
  <body>
    <div class="main-content">
      <%- include ("../partials/user/topbar.ejs") %>
      <div class="container-fluid">
        <%- include ("../partials/user/sidebar.ejs") %> 
        <%- body %>
      </div>
    </div>
    <%- include ("../partials/user/footer.ejs") %>
  </body>
  <%- customScripts %>
</html>
